.news-image{
    /* background:url('../../assets/images/kyle-glenn-nXt5HtLmlgE-unsplash.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 1px solid rgba(red, green, blue, alpha);
}